.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: fixed;
}

.nav .logo .active {
  font-size: 2.1rem;
  font-weight: 600;
  color: #1a1717d8;
  /* box-shadow: inset 1px 1px 10px 10px #3d855593; */
  border-radius: 25px;
  width: 15rem;
  text-align: center;
  cursor: pointer;
}

.nav .logo .fa-brands {
  background: linear-gradient(90deg, #088178, #16574e);
  color: transparent;
  background-clip: text;
}
.nav .logo .market {
  background: linear-gradient(90deg, #088178, #33538ffa, #16574e);
  /* background: linear-gradient(90deg, #0ef193, #9cf726, #e99f30); */
  color: transparent;
  background-clip: text;
  font-weight: 500;
}
.nav .right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.nav .right-nav ul {
  font-size: 1.1rem;
  gap: 20px;
  margin-right: 13rem;
  font-weight: 500;
  display: flex;
}
.nav .right-nav ul li .active {
  color: #242425;
  cursor: pointer;
  position: relative;
  padding: 1px;
}

.nav .right-nav ul li .active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  right: 40px;
  width: 100%;
  height: 3px;
  background-color: #0c837a;
  border-radius: 10px;
  transform: scaleX(0);
  transition: 0.5s;
}
.nav .right-nav ul li .active:hover::after {
  transform: scaleX(1);
}
.nav .right-nav ul li hr {
  border: none;
  width: 100%;
  bottom: -3px;
  height: 3px;
  border-radius: 10px;
  opacity: 1;
  background: #0c837a;
}

.nav .right-nav ul li .active:hover {
  color: #0c837a;
  transition: 0.5s;
  transform: scale(1.01);
}

.nav .right-nav .login .active {
  width: 6rem;
  height: 2.5rem;
  color: #f1e7e7;
  background: #242425;
  border: 1px solid #5d5d61;
  border-radius: 25px;
}
.nav .right-nav .login .active:hover {
  background: #0c837a;
  color: #faf8f8;
  transition: 0.3s;
}

.nav .right-nav .signup .active {
  width: 7.2rem;
  height: 2.5rem;
  color: #f1e7e7;
  background: #12372a80;
  border: 1px solid #184d3ada;
  border-radius: 5px;
}
.nav .right-nav .signup .active:hover {
  background: #12372ad2;
  color: #faf8f8;
  transition: 0.3s;
}

.nav .right-nav .cart .active {
  width: 7rem;
  height: 2.5rem;
  color: #f1e7e7;
  background: #242425;
  border: 1px solid #5d5d61;
  border-radius: 25px;
}
.nav .right-nav .cart .active:hover {
  background: #0c837a;
  color: #faf8f8;
  transition: 0.3s;
}

.nav .menu {
  display: none;
}

/* //screen responsive */

.nav .fixed {
  position: fixed;
  inset: 0;
  z-index: 11;
  background-color: rgba(40, 40, 48, 0.623);
  border: none;
  backdrop-filter: blur(5px);
}

.nav .fixed ul.model {
  animation: mymove 0.5s 1;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  /* background-color: #242425; */
  background: #afb1bd;

  text-align: center;
}

@keyframes mymove {
  0% {
    scale: 0;
  }
  75% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

.nav .fixed ul.model li {
  border-bottom: 1px solid #7c918f !important;
  padding-bottom: 0.7rem;
  padding-top: 0.5rem;
}

.nav .fixed ul.model li:first-child {
  text-align: right;
  border: none !important;
  color: #0a0a0a;
  padding-bottom: 0;
  padding-top: 0.2rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.nav .fixed ul.model li .fa-xmark:hover {
  font-size: 1.4rem;
  color: rgba(220, 20, 60, 0.822);
  rotate: 180deg;
  transition: 0.3s;
}

.nav .fixed ul.model li:last-child {
  border: none !important;
}
.nav .fixed ul.model li .active {
  font-size: 1.2rem;
  font-weight: 600;
  color: #242425;
}
.nav .fixed ul.model li .click {
  /* border: 1px solid red; */
  padding: 0 1rem;
  background: #0c8379de;
  border-radius: 25px;
}
.nav .fixed ul.model li .click:hover {
  background: #a5b9b9;
}
.nav .fixed ul.model li .active:hover {
  color: #0c837a;
  transition: 0.3s;
}

@media (max-width: 1000px) {
  .nav .right-nav {
    display: none;
  }
  .nav .menu {
    display: block;
  }
}

.nav .menu {
  font-size: 1.5rem;
  /* border: 1px solid red; */
}
.nav .menu:hover {
  color: #0c837a;
  rotate: 360deg;
  transition: 0.4s;
  scale: 1.05;
}

@media (max-width: 550px) {
  .nav {
    justify-content: space-between;
  }
  .nav .logo .active {
    font-size: 1.7rem;
    font-weight: 600;
  }
  .nav .menu {
    display: block;
    margin-right: 13rem;
  }
}
